pandas
numpy
pint
plotly
cufflinks
quilt
jupyterlab
jupyterlab_launcher
traitlets
vdom
certifi
ipywidgets
matplotlib
geopandas
python-dateutil
scipy
environs
pytz
psycopg2-binary
jupytext
modin[ray]
ray
psutil  # needed by ray
numba
python-snappy
fastparquet
