pandas
numpy
pint
plotly
cufflinks
quilt
jupyterlab
jupyterlab_launcher
traitlets
vdom
certifi
ipywidgets
matplotlib
geopandas
python-dateutil
scipy
environs
pytz
-e git+https://github.com/hgrecco/pint-pandas#egg=pint-pandas
psycopg2-binary
jupytext
