pandas
numpy
pint
plotly
cufflinks
quilt
jupyterlab
jupyterlab_launcher
traitlets
vdom
certifi
ipywidgets
matplotlib
geopandas
python-dateutil
scipy
environs
pytz
psycopg2-binary
jupytext
numba
python-snappy
fastparquet
openpyxl
owslib
lxml
dvc-pandas
